name: CI/CD for Static Website

on: 
  push:
    branches:
      - main

jobs:

  lint:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Lint HTML
      run: npx htmlhint .

    - name: Lint CSS  
      run: npx stylelint "**/*.css"

    - name: Validate HTML
      run: npx nuhtmlchecker .

    - name: Validate CSS
      run: npx cssvalidator .  

  deploy:

    needs: lint
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Deploy to S3
      uses: jakejarvis/s3-sync-action@master
      with:
        args: --delete
      env:
        AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
